*.el
*.elc
*.pyc

emacs/elpa/
emacs/cache/
emacs/local/
emacs/straight/
/config/teiler/profiles/
/config/qutebrowser/autoconfig.yml
/config/qutebrowser/quickmarks
/config/qutebrowser/bookmarks/urls
*.extmap
/config/qutebrowser/qsettings/
