*.el
*.el~
*.elc
*.log
*.pyc
*.sql

log
pid
database
state

emacs/mspyls/
emacs/elpa/
emacs/cache/
emacs/.cache/
emacs/emms/
emacs/local/
emacs/straight/
/config/teiler/profiles/
/config/qutebrowser/autoconfig.yml
/config/qutebrowser/quickmarks
/config/qutebrowser/bookmarks/urls
*.extmap
/config/qutebrowser/qsettings/
/config/mpd/playlists/
